<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="container">
      <div id="navbar">
        <div id="title">
          <a href="/"><h1>SR Trivia</h1></a>
        </div>
        <div id="navbar-actions">
          <a href="/reminders">Reminders</a>
          <a href="/logout">Log Out</a>
        </div>
      </div>
      <div id="page-title"><h1>Categories</h1></div>
      <div id="categories">
        <a href="/question?category=Film">Film</a>
        <a href="/question?category=Computer">Computer</a>
        <a href="/question?category=History">History</a>
        <a href="/question?category=Politics">Politics</a>
        <a href="/question?category=Animals">Animals</a>
      </div>
    </div>
  </body>
</html>