<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/layouts/main.css">
    <link rel="stylesheet" type="text/css" href="/css/reminders.css">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="title">
          <a href="/"><h1>SR Trivia</h1></a>
        </div>
        <div class="navbar-actions">
          <a href="/"><h4>Categories</h4></a>
          <a href="/logout"><h4>Log Out</h4></a>
        </div>
      </div>
      <div class="page-title"><h1>Saved Questions</h1></div>
      <div id="reminders">
        <table id="reminderTable">
          <thead>
            <th>Question</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <% for (let i=0; i < reminders.length; i++) { %>
              <tr>
                <td class="left-align"><a href="/question/<%= reminders[i]._id %>"><%= decodeURIComponent(reminders[i].question) %></a></td>
                <td class="center-align"><a class="delete" href="/reminder/delete/<%= reminders[i]._id %>">Delete</a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>