#categories {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 12;

  padding-top: 3em;

  justify-self: center;
  align-self: start;

  display: grid;
  grid-template-columns: repeat(5, 2fr);
}

#categories a {
  border-radius: 15px;
  font-size: 20px;
  border: 1px solid #1695A3;
}