.submit {
  grid-column-start: 2;
  grid-column-end: 7; 
  justify-self: end;
  align-self: center;
}

.create {
  grid-column-start: 7;
  grid-column-end: 12; 
  justify-self: start;
  align-self: center;
}