li {
  color: #2F343B;
  list-style: none;
  border-radius: 15px;
  font-size: 20px;
  padding-top: 2em;
  border: 2px solid lightskyblue;
  justify-self: center;
  text-align: center;
  cursor: pointer;

  width: 100%;
  height: 100%;
}

#answers {
  grid-column-start: 2;
  grid-column-end: 12;
  align-self: center;
  padding-bottom: 2em;
}

#tf {
  display: grid;
  grid-template-columns: repeat(2, 1.5fr);
  grid-gap: 20px;
}

#multipart {
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  grid-gap: 20px;
}

#submit {
  border-color: coral;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 1em 2em;
  font-size: 13px;
  background-color: coral;
}

#nextQuestion {
  border-color: lightgreen;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 1em 2em;
  font-size: 13px;
  background-color: lightgreen;
}

#reminders {
  border-color: coral;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 1em 2em;
  font-size: 13px;
  background-color: coral;
}

.container {
  grid-template-rows: 0.5fr 1fr 3fr 0.5fr
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
  padding: 2px 16px;
  background-color: lightskyblue;
  text-align: center;
}

.modal-body {
  text-align: center;
  padding: 2em 1em;
}

.modal-footer {
  text-align: center;
  padding: 1em 1em;
  background-color: lightskyblue;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}