body {
  font-family: "Avenir", "Arial", sans-serif;
}

h1 {
  color: #2F343B;
}

a {
  text-decoration: none;
  justify-self: center;
  align-self: center;
  color: #2F343B;
}

input {
  color: #2F343B;
  font-size: 20px;
}

a.button {
  text-decoration: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 1em 2em;
  font-size: 13px;
  border-color: lightsalmon;
  background-color: lightsalmon;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 1fr 0.5fr;
  grid-gap: 20px;
  height: 100vh;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 13; 
  border-bottom: 3px solid lightskyblue;
  margin-top: -15px;
  margin-left: -10px;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-right: -10px;

  background-color: lightskyblue;
}

.navbar a {
  font-size: 20px;
}

.title {
  display: inline;
  padding-left: 1em;
}

.page-title {
  grid-column-start: 4;
  grid-column-end: 10;
  text-align: center;
  border-bottom: 2px solid lightskyblue;
  align-self: center;
}

.username {
  grid-column-start: 2;
  grid-column-end: 12; 
  justify-self: center;
  align-self: center;
}

.password {
  grid-column-start: 2;
  grid-column-end: 12; 
  justify-self: center;
  align-self: center;
}

.submit input {
  border-color: lightgreen;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 1em 2em;
  font-size: 13px;
  background-color: lightgreen;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  height: 100%;

  margin-left: -10px;
  padding-bottom: 3em;
  padding-right: 2em;

  background-color: lightskyblue;
}