body {
  font-family: "Avenir", "Arial", sans-serif;
}

h1 {
  color: #2F343B;
}

h2 {
  color: #2F343B;
}

a {
  text-decoration: none;
  justify-self: center;
  align-self: center;
  padding: 1.5em;
  color: #2F343B;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
  grid-gap: 20px;
  height: 100vh;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 13; 

  width: 100%;
  height: 100%;
  margin-top: -15px;
  margin-left: -10px;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  border-bottom: 3px solid lightskyblue;
  background-color: lightskyblue;
}

.navbar a {
  font-size: 20px;
}

.title {
  grid-column-start: 1;
  grid-column-end: 7; 

  justify-self: start;
  align-self: center;
  border-bottom: 2px solid #E3F1D5;
}

.title h1 {
  display: inline;
}

.navbar-actions {
  grid-column-start: 7;
  grid-column-end: 13; 

  justify-self: end;
  align-self: center;
}

.navbar-actions a {
  border-left: 2px solid #E3F1D5;
  padding-top: 1em;
  padding-bottom: 1em;
}

.page-title {
  grid-column-start: 3;
  grid-column-end: 11;
  text-align: center;
  border-bottom: 2px solid lightskyblue;
  align-self: end;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  height: 100%;

  margin-left: -10px;
  padding-bottom: 3em;
  padding-right: 2em;

  background-color: lightskyblue;
}